# Environment files
.env
.env.local
.env.*.local
.env.bak

# ZK circuit
target

# Node modules
node_modules/
package-lock.json
yarn.lock
bun.lockb
pnpm-lock.yaml

# Others
.DS_Store
.vscode

# Hardhat files
artifacts