[profile.default]
src = "src"
out = "out"
libs = ["lib"]
test = "tests"
#solc_version = "0.8.27"
evm_version = "cancun"
via_ir = false

optimizer = true

# Originally, this was 200. However, to avoid the "Error: HonkVerifier: is above the contract size limit (24639 > 24576)", we set it to 100.
optimizer_runs = 100
